<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
             <h1 class="text-center">Containers for RESTCONF Module: {{ module }}</h1>
             <br/>
              <br/>
              <br/>
              {% if list != None%}
                    <span><input value="Full Configuration" name="{{ module }}" class="btn btn-warning btn-round-xs" type="button" onclick="getModule(this.name)" ></span>
                  {% for i in lists %}
                    <span><input value="{{ i }}" class="btn btn-primary btn-round-xs" type="button" onclick="getContainer(this.value)"></span>
                  {% endfor %}
              {%endif%}
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <span class="counter pull-right"></span>
        <table class="table align-items-center table-flush results" id="configTable">
          <tbody id="resttTable">
            <tr>
                <td><div id='response' style="font-size: 20px"></div></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script>

function getContainer(val){
 $.ajax({
  url: '/query_submit_leaf',
  type: 'POST',
  data: {'lists': val},
  success: function(response) {
      $('#response').html(response.data);
  },
 });
}


</script>

<script>

function getModule(val){
 $.ajax({
  url: '/custom_query',
  type: 'POST',
  data: {'full_config': val},
  success: function(response) {
      $('#response').html(response.data);
  },
 });
}


</script>