{% if lists %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
             <h1 class="text-center">Lists for this Container: {{ container }}</h1>
             <br/>
              {% if list != None%}
                  {% for i in lists %}
                    <span><input value="{{ i }}" class="btn btn-primary btn-round-xs" type="button" onclick="getLeaf(this.value)"></span>
                  {% endfor %}
              {%endif%}
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <span class="counter pull-right"></span>
        <table class="table align-items-center table-flush results" id="configTable">
          <tbody id="resttTable">
            <tr>
                <td>
                    <pre style="font-size: 20px">{{ object_list }}</pre>
                </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% elif not lists %}

     <div class="table-responsive">
        <span class="counter pull-right"></span>
        <table class="table align-items-center table-flush results">
          <tbody>
            <tr>
                <td>
                    <pre style="font-size: 20px">{{ object_list }}</pre>
                </td>
            </tr>
        </table>
      </div>

{% else %}

<div class="row">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-header border-0">
        <div class="row align-items-center">
          <div class="col">
             <h1 class="text-center">No Lists for this Container</h1>
             <br/>
              {% if list != None%}
                  {% for i in lists %}
                    <span><input value="{{ i }}" class="btn btn-primary btn-round-xs" type="button" onclick="getLeaf(this.value)"></span>
                  {% endfor %}
              {%endif%}
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <span class="counter pull-right"></span>
        <table class="table align-items-center table-flush results">
          <tbody>
            <tr>
                <td>
                    <pre style="font-size: 20px">{{ json }}</pre>
                </td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endif %}

<script>

    function getLeaf(val){
      $.ajax({
      url: '/config',
      type: 'POST',
      data: {'lists': val},
      success: function(response){
       $('#response').html(response.data);
      },
     });
    }

</script>
